<!DOCTYPE html>
{% extends "template.html" %}
{% block auth_content %}
<form class="form-signin" action="{{ url_for('main.login') }}" method="post" id="login-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label>{{ form.email.label }}</label>
        {{ form.email(placeholder="someone@somewhere.org", class_="form-control") }}
    </div>

    <div class="form-group">
        <label>{{ form.password.label }}</label>
        {{ form.password(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-default") }}
    <br>
    <br>
    <a href="{{ url_for('main.home') }}">Go home.</a>
    <br>
    <br>
    <strong>Not registered?
        <a href="{{ url_for('main.register') }}">Register</a>
    </strong>
    <br>
</form>
{% endblock %}