<!DOCTYPE html> 
{% extends "template.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if user.admin() == "True" %}
            <div class="panel panel-info">
                <div class="panel-body text-center">
                    <p class="lead">Welcome home, admin! Your
                        <a href="{{ url_for('admin.home') }}">admin panel</a>.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="section-credentials text-center">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <h3>Username:
                                    <b>{{ user.get_name() }}</b>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <h3>Email:
                                    <b>{{ user.get_email() }}</b>
                                </h3>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="col-xs-4">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <h3>Departament:
                                    <b>{{ user.departament }}</b>
                                </h3>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3>Change password</h3>
        </div>
        <div class="panel-body">
            <form id="change-password-form" action=" {{ url_for('auth.changepwd') }} " method="post">
                <div class="text-center">
                    <div class="center-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Old password:</label>
                                    {{ form.old_password(class_="form-control") }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>New password:</label>
                                    {{ form.new_password(class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Confirm:</label>
                                    {{ form.confirm(class_="form-control") }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{ form.submit(class_="btn btn-success") }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="user-score">
        <table class="table panel panel-info" id="user_score">
            <caption class="panel-heading text-center">
                <h3>Assigned quizes</h3>
            </caption>
            <thead class="panel-body">
                <tr class="info">
                    <th>#</th>
                    <th>Quiz title</th>
                    <th>Status</th>
                    <th>Assigned at</th>
                    <th>Completed at</th>
                    <th>Score</th>
                    <th>Detail info</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                    {% for assigned_quiz in user.get_assigned_quizes() %}
                    {% set loop_index = loop.index %}
                    <tr>
                    <td scope="row">{{ loop_index }}</td>
                    <td><a href="{{ url_for('quiz.quiz', quiz_id=assigned_quiz.quiz_id) }}">{{ assigned_quiz.quiz.title }}</a></td>
                    <td>
                        {% if assigned_quiz.status == "hold" %}
                        <label class="label label-default">{{ assigned_quiz.status }}</label>
                        {% else %}
                        <label class="label label-success">{{ assigned_quiz.status }}</label>
                        {% endif %}
                    </td>
                    <td>{{ assigned_quiz.assigned }}</td>
                    <td>{{ assigned_quiz.completed }}</td>
                    <td>{{ assigned_quiz.score }}</td>
                    <td>
                        {% if assigned_quiz.status == "completed" %}
                        <a href="{{ url_for('quiz.quiz_detail', quiz_id=assigned_quiz.quiz_id) }}">details</a>
                        {% else %}
                        <span class="text-danger glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    </tr>
                    <!-- <tr>
                        <td colspan="7" class="text-center">no items</td>
                    </tr> -->
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <form id="unregister-form" action=" {{ url_for('auth.unregister') }} " method="post">
        <div class="text-center">
            {{ form.unregister(class_="btn btn-danger") }}
        </div>
    </form> -->
</div>


{% endblock %}