<!DOCTYPE html>
{% extends "template.html" %}
{% block auth_content %}
<form class="form-signin" action="{{ url_for('main.register') }}" method="post" name="register-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label>{{ form.email.label }}</label>
        {{ form.email(placeholder="someone@somewhere.org", class_="form-control") }}
    </div>

    <div class="form-group">
        <label>{{ form.name.label }}</label>
        {{ form.name(placeholder="Someone", class_="form-control") }}
    </div>

    <div class="form-group">
        <label>{{ form.departament.label }}</label>
        {{ form.departament(placeholder="Цех №2", class_="form-control") }}
    </div>

    <div class="form-group">
        <label>{{ form.password.label }}</label>
        {{ form.password(placeholder="Password", class_="form-control") }}
    </div>

    <div class="form-group">
        <label>{{ form.confirm.label }}</label>
        {{ form.confirm(placeholder="Confirm password", class_="form-control") }}
    </div>

    {{ form.submit(class_="btn btn-default") }}

    <br>
    <br>
    <a href="{{ url_for('main.home') }}">Go home.</a>
    <br>
    <strong>Already registered?
        <a href="{{ url_for('main.login') }}">Log in.</a>
    </strong>
    <br>
</form>
{% endblock %}