<!DOCTYPE html>
{% extends "template.html" %}
{% block footer_content %}
<div class="text-center" id="annoying_footer">
    Brought to you by
    <a href="mailto:at.thealchemist@gmail.com?subject=Спасибо! :3">The Alchemist</a>.
    <br> From content of the heart, free and available.
    <br>
    <i>(click on me, if i annoying you)</i>
</div>
{% endblock %}