{% extends "template.html" %}
{% block content %}

<div class="text-center">
    <h1>API Usage:</h1>
    <hr>
    <p><strong>{{ user.get_token() }}</strong> - your personal token on API usage.
    {% if user.get_role() != 0 %}
        Lost token 3 times - <b><a href="mailto:at.thealchemist@gmail.com?subject=Здравствуйте, доктор!&body=У меня снова не работает API!">go cry admin</a></b>.
        {% else %}
            <br><b><a href="/auth/profile">Generate new token</a></b>.
        {% endif %}
        </p>
    <p>Possible HTTP methods: <strong>GET</strong></p>
    <p>Usage: <b>/api/v1/{{ user.get_token() }}/&lt;query&gt;</b></p>
    <hr>
    <h1>Queries:</h1>
    <hr>
    <p><b>/&lt;board&gt;</b> - get one of supported boards (with sections, threads, posts) with name &lt;board&gt;.
    </p>
    <hr>
    <p><b>/&lt;board&gt;/&lt;section&gt;</b> - get one section (with threads, posts) on selected board.</p>
    <hr>
    <p><b>/&lt;board&gt;/&lt;section&gt;/&lt;thread&gt;</b> - get one thread (with posts) from selected section on selected board.</p>
    <hr>
    <p><b>/&lt;board&gt;/&lt;section&gt;/&lt;thread&gt;/&lt;post&gt;</b> - get selected post from selected thread on selected section on selected board.</p>
</div>
{% endblock %}