<!DOCTYPE html> {% extends "template.html" %} {% block quiz_completed_content %}
<div class="panel panel-info">
    <div class="panel-heading text-center">
        <h1>Тест завершён</h1>
    </div>
    <div class="panel-body">
        <div class="row text-center">
            <div class="col-xs-6 pull-left">
                <h2 class="text-info">Тест:</h2>
                <h3>{{ assigned_quiz.quiz.title }}</h3>
            </div>
            <div class="col-xs-6 pull-right">
                <h2 class="text-info">Пользователь:</h2>
                <h3>{{ user.name }}</h3>
            </div>
        </div>
        <hr>
        <table class="table">
            <caption class="text-center">
                <h3>Статистика прохождения (<a href="{{ url_for('quiz.quiz_detail', quiz_id=assigned_quiz.id) }}">подробности</a>)</h3>
            </caption>
            <thead>
                <tr>
                    <th>Вопрос</th>
                    <th class="text-center">Выбранный ответ</th>
                    <th class="text-center">Ответил правильно</th>
                </tr>
            </thead>
            <tbody>
                {% for question in assigned_quiz.quiz.get_questions() %}
                <tr>
                    <td><strong>{{ loop.index }}.</strong>&nbsp;{{ question.title }}</td>
                    <td class="text-center">
                    {% for answer in question.get_answers() %}
                        {% if answer.selected == True and answer.question_id == question.id %}
                        <em>"{{ answer.title }}"</em>
                        {% endif %}
                    {% endfor %}
                    </td>
                    {% if question.check_correct() == 'True' %}
                    <td class="text-center text-success"><strong>да</strong></td>
                    {% else %}
                    <td class="text-center text-danger"><strong>нет</strong></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Общий балл:</h2>
            {% if score == 3: %}
                <h2 class="text-center text-warning"><strong>{{ assigned_quiz.score }}</strong> ({{ assigned_quiz.percentage }}%)</h2>
            {% elif score == 2: %}
                <h2 class="text-center text-danger"><strong>{{ assigned_quiz.score }}</strong> ({{ assigned_quiz.percentage }}%)</h2>
            {% else %}
                <h2 class="text-center text-success"><strong>{{ assigned_quiz.score }}</strong> ({{ assigned_quiz.percentage }}%)</h2>
            {% endif %}
        </div>
    </div>
</div>
<hr>
<div class="">
    {% if user.role == "admin" %}
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center">
                <i class="glyphicon glyphicon-save"></i>&nbsp;Сохранить отчёт
            </h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="btn-group " role="group" aria-label="...">
                <button type="button" class="btn btn-success">XML</button>
                <button disabled type="button " class="btn btn-info">Excel</button>
                <button disabled type="button disabled" class="btn btn-danger">Word</button>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="btn btn-default" href="{{ url_for('main.home') }}">Закрыть страницу</a>
        </div>
    </div>
    <br>


</div>
{% endblock %}