<!DOCTYPE html> {% extends "template.html" %} {% block quiz_detail_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3><a href="{{ url_for('quiz.completed', quiz_id=quiz.id) }}">Вернуться к общей статистике</a></h3>
                </div>
            </div>
            <br>
            {% for question in quiz.get_questions() %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Вопрос {{ question.id }}</h3>
                        </div>
                        <div class="panel-body">
                            <p class="lead">{{ question.title }}</p>
                        </div>
                        {%if question.hint != "" %}
                        <div class="panel-footer text-muted">
                            <small><strong>Подсказка:</strong> {{ question.hint }}</small>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <br> {% for attach in question.get_attaches() %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive center-block img-rounded" id="img_attach_to_question_{{ question.id }}" src="{{ attach.src }}"
                            alt="">
                    </div>
                </div>
            </div>
            {% endfor %}

            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default panel-body">
                        {% for answer in question.get_answers() %} 
                        {% if answer.correct and answer.selected %}
                        <div class="checkbox">
                            <label class="large">
                                <span class="text-success glyphicon glyphicon-ok"></span>&nbsp;{{ answer.title }}
                            </label>
                        </div>
                        {% elif not answer.correct and answer.selected %}
                        <div class="checkbox">
                            <label>
                                <span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;{{ answer.title }}
                            </label>
                        </div>

                        {% else %}
                        <div class="checkbox">
                            <label>
                                <span class="glyphicon glyphicon-record"></span>&nbsp;{{ answer.title }}
                            </label>
                        </div>

                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}