<!DOCTYPE html> {% extends "template.html" %} {% block quiz_edit_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Страница теста:</h3>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="quiz_edit_name_field">Quiz title:</label>
                                    <input class="form-control" type="text" name="quiz_edit_name_field" id="quiz_edit_name_field" placeholder="quiz title" value="{{ current_quiz.title }}">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="quiz_edit_code_field">Quiz code:</label>
                                    <input class="form-control" disabled type="text" name="quiz_edit_code_field" id="quiz_edit_code_field" value="{{ current_quiz.code }}">
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="form-group">

                            <div class="form-group">
                                <label for="">Assigned users:</label>
                                <ul class="list-group">
                                    {% if assigned_users %} {% for assigned_user in assigned_users %} {% set loop_index = loop.index %}
                                    <li class="list-group-item">
                                        <strong>{{ loop_index }}.&nbsp;</strong>{{ assigned_user.user.name }} ({{ assigned_user.user.email
                                        }}) [{{ assigned_user.user.id }}]
                                        <div class="col-xs-1">
                                            <form action="{{ url_for('quiz.deassign_quiz', quiz_id=current_quiz.id, user_id=assigned_user.user.id) }}" method="post">
                                                <button type="submit" class="btn btn-xs btn-danger">
                                                    <small>
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </small>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                    {% endfor %} {% else %}
                                    <p class="lead">No users assigned yet.</p>
                                    {% endif %}
                                </ul>
                                <div class="form-group">
                                    <form method="post" action="{{ url_for('quiz.assign_quiz', quiz_id=current_quiz.id) }}">
                                        <label for="quiz_edit_add_user_field">Assign to:</label>
                                        <select class="form-control" name="quiz_edit_adduser_field">
                                            {% for user_entry in users %} {% set loop_index = loop.index %}
                                            <option value="{{ user_entry.id }}">{{ loop_index }}.&nbsp; {{ user_entry.name }} ({{ user_entry.email }}) [{{ user_entry.id
                                                }}]
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <br>
                                        <input name="quiz_edit_assign_one" type="submit" class="btn btn-success" value="assign one">
                                        <input name="quiz_edit_assign_all" type="submit" class="btn btn-info" value="assign em all">
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="">Вопросы:</label>
                                <br>
                                <br>
                                {% if current_quiz.quiz_related_questions %}
                                    {% for related_question in current_quiz.quiz_related_questions %} {% set loop_index = loop.index
                                    %}
                                    <div class="panel panel-info question-entry">
                                        <div class="panel-heading text-center">
                                            <form action="{{ url_for('quiz.remove_question', quizid=current_quiz.id, questionid=related_question.id) }}" method="post">
                                                <button type="submit" class="btn btn-xs btn-danger"><span class="close">&times;</span></button>
                                            </form>
                                            <h3>Вопрос {{ loop_index }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="quiz_edit_code_field">Question title:</label>
                                                        <input class="form-control" type="text" name="quiz_edit_question_title_field" id="quiz_edit_question_title_field" placeholder="question title"
                                                            value="{{ related_question.question.title }}">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="quiz_edit_code_field">Question hint (optional):</label>
                                                        <input class="form-control" type="text" name="quiz_edit_question_hint_field" id="quiz_edit_question_hint_field" placeholder="question hint"
                                                            value="{{ related_question.question.hint }}">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="quiz_edit_status_field">Question type:</label>
                                                        <select class="form-control" name="quiz_edit_question_type_field" id="quiz_edit_question_type_field">
                                                            {% if related_question.type == "single" %}
                                                            <option selected>single</option>
                                                            <option>multi</option>
                                                            {% elif related_question.type == "multi" %}
                                                            <option selected>multi</option>
                                                            <option>single</option>
                                                            {% else %}
                                                            <option>single</option>
                                                            <option>multi</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                                {% if attaches %}
                                                <div class="col-xs-12">

                                                    {% for attach in related_question.question.attaches %}
                                                    <a href="#" class="thumbnail">
                                                        <img src="{{ attach }}" alt="...">
                                                    </a>
                                                    {% endfor %}

                                                </div>
                                                {% endif %}
                                                <br>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="">Answers:</label>
                                                        <div class="panel panel-info">
                                                            <div class="answer-entry panel-body">
                                                                {% for answer in related_question.question.answers %} {% set loop_index = loop.index %}
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-xs-1">
                                                                            <button type="submit" class="btn btn-xs btn-danger">
                                                                                <small>
                                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                                </small>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-xs-1">
                                                                            <label style="border-color: transparent; box-shadow: none;" class="form-control" for="">{{ loop_index }}.&nbsp;</label>
                                                                        </div>
                                                                        <div class="col-xs-8">
                                                                            <input class="form-control" type="text" placeholder="answer title" value="{{ answer.title }}">
                                                                        </div>
                                                                        <div class="col-xs-2">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    {% if answer.correct %}
                                                                                    <input type="checkbox" checked> correct {% else %}
                                                                                    <input type="checkbox"> correct {% endif %}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <hr> {% endfor %}
                                                            </div>

                                                        </div>
                                                        <button class="btn btn-success">
                                                            <i class="glyphicon glyphicon-plus"></i>&nbsp;Add answer field</button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <hr>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                <p class="lead">No users assigned yet.</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <nav class="navbar navbar-default navbar-fixed-bottom">
                        <div class="container">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('quiz.edit_quiz', quiz_id=current_quiz.id) }}">
                                    <button type="submit" class="btn btn-info navbar-btn">
                                        <i class="glyphicon glyphicon-ok"></i>&nbsp;Save changes</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}