<!DOCTYPE html>
{% extends "template.html" %}
{% block quiz_list_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Тесты, назначенные пользователю {{ user.name }}:</h3>
            <br>
            <ul class="list-group">
                {% for assigned_quiz in assigned_quizes %}
                    <li class="list-group-item">
                        <div class="pull-right">
                            {% if assigned_quiz.status == "completed" %}
                            <span class="label label-success">Завершён</span>
                            {% elif assigned_quiz.status == "active" %}
                            <span class="label label-info">В процессе</span>
                            {% else %}
                            <span class="label label-default">Не начат</span>
                            {% endif %}
                        </div>
                        <strong>{{ loop.index }}.&nbsp;</strong><a href="{{ url_for('quiz.quiz', quiz_id=assigned_quiz.quiz_id) }}">{{ assigned_quiz.quiz.title }}</a>
                        {% if assigned_quiz.percentage > 0 %}
                        <span class="label label-info">{{ assigned_quiz.percentage }}%</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Список тестов:</h3>
            <br>
            <ul class="list-group">
                {% for quiz in all_quizes %}
                {% set loop_index = loop.index %}
                    <li class="list-group-item">
                        <strong>{{ loop_index }}.&nbsp;</strong>{{ quiz.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}