<!DOCTYPE html> {% extends "template.html" %} {% block quiz_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 pull-left">
            <h2 class="text-success">Тест {{ assigned_quiz.quiz_id }}.</h2>
            <h3>{{ assigned_quiz.quiz.title }}</h3>
        </div>
        <div class="col-xs-6 pull-right">
            <h2 class="text-success">Пользователь:</h2>
            <h3>{{ user.name }}</h3>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="center-block">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% for question_entry in assigned_quiz.quiz.quiz_related_questions %}
                            {% set loop_index = loop.index %}
                            {% if question_entry.status == "active" %}
                            <li class="active"><a>{{ loop_index }}</a></li>
                            {% else %}
                            <li><a>{{ loop_index }}</a></li>
                            {% endif %} 
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% if current_question.status == "active" %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Вопрос</h3>
                </div>
                <div class="panel-body">
                    <p class="lead">{{ current_question.question.title }}</p>
                </div>
                {%if current_question.question.hint != "" %}
                <div class="panel-footer text-muted">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <small>
                        <strong>Подсказка:</strong> {{ current_question.question.hint }}</small>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <br> {% for attach in current_question.question.get_attaches() %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block img-rounded" id="img_attach_to_question_{{ current_question.question.id }}" src="{{ attach.src }}"
                    alt="">
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <form method="POST" action="{{ url_for('quiz.answer_quiz', quizid=assigned_quiz.quiz_id, question_id=current_question.question.id) }}">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default panel-body">
                    {% for answer in current_question.question.answers %} 
                    {% if current_question.type == "single" %}
                    <div class="radio">
                        <label class="large">
                            {% if answer == current_question.question.answers[0] %}
                            <input checked type="radio" name="radio_answer" id="radio_answer_chk" value="{{ answer.title }}"> {{ answer.title }}
                            {% else: %}
                            <input type="radio" name="radio_answer" id="radio_answer_nchk" value="{{ answer.title }}"> {{ answer.title }}
                            {% endif %}
                        </label>
                    </div>
                    {% elif current_question.type == "multi" %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="checkbox_answer" id="checkbox_answer"> {{ answer.title }}
                        </label>
                    </div>
                    {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    {{ form.submit(class_="answer-button btn btn-success") }}
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    <br>
</div>
{% endblock %}