body {
    background-color: #ccc;
    padding: 4%;
}

.api-form {
    max-width: 30%;
    margin: 0 auto;
}

.main-form {
    max-width: 90%;
    margin: 0 auto;
}

.login-form {
    width: auto;
    height: auto;
    max-width: 50%;
    padding: 0.5em;
    margin: 0 auto;
}

.message {
    color: #333;
}

.error {
    color: #f00;
}

span.glyphicon {
    font-size: 1.2em;
}

p {
    word-wrap: break-word;
    font-size: 1.5em;
}

.form-signin {
    background-color: #fff;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin 
input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.non-registered-row {
    white-space: nowrap;
}