<!DOCTYPE html> {% extends "template.html" %} {% block content %}
<div class="text-center">
    <h1>Admin panel</h1>
</div>
<hr>
<table class="table" id="users_table">
    <caption>
        <h2>Users list</h2>
    </caption>
    <thead>
        <tr class="info">
            <th>#</th>
            <th>DB User id</th>
            <th>User email</th>
            <th>User name</th>
            <th>User role</th>
            <th>Remove user</th>
            <th>Upgrade to admin</th>
        </tr>
    </thead>
    <tbody>
        {% if users %} 
        {% for user_entry in users %}
        {% set loop_index = loop.index %} 
        {% if user_entry.role == "user" %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>[{{ user_entry.id }}]</td>
            <td>{{ user_entry.get_email() }}</td>
            <td>{{ user_entry.get_name() }}</td>
            <td><span class="label label-success">{{ user_entry.role }}</span></td>
            <td>
                <form method="POST" action="{{ url_for('admin.remove_user', user_id=user_entry.id) }}">
                    {{ ucf.remove(class_="btn btn-danger") }}
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('admin.upgrade_to_admin', user_id=user_entry.id) }}">
                    {{ ucf.make_admin(class_="btn btn-success") }}
                </form>
            </td>
        </tr>
        {% endif %} {% endfor %} {% else %}
        <tr>
            <td class="non-registered-row">No users were registered!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<table class="table" id="admins_table">
    <caption>
        <h2>Admins list</h2>
    </caption>
    <thead class="success">
        <tr class="success">
            <th>#</th>
            <th>DB Admin id</th>
            <th>Admin email</th>
            <th>Admin name</th>
            <th>Admin role</th>
            <th>Remove admin</th>
            <th>Downgrade to user</th>
        </tr>
    </thead>
    <tbody>
        {% if users %} 
        {% for user_entry in users %} 
        {% set loop_index = loop.index %} 
        {% if user_entry.role == "admin" %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>[{{ user_entry.id }}]</td>
            <td>{{ user_entry.get_email() }}</td>
            <td>{{ user_entry.get_name() }}</td>
            <td><span class="label label-danger">{{ user_entry.role }}</span></td>
            <td>
                <form method="POST" action="{{ url_for('admin.remove_user', user_id=user_entry.id) }}">
                    {{ ucf.remove(class_="btn btn-danger") }}
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('admin.downgrade_to_user', user_id=user_entry.id) }}">
                    {{ acf.admin_make_user(class_="btn btn-success") }}
                </form>
            </td>
        </tr>
        {% endif %} 
        {% endfor %} 
        {% else %}
        <tr>
            <td class="non-registered-row">No admins were registered!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<br>
<div class="text-center">
    <h1>Список тестов</h1>
</div>
<br>
<ul class="list-group">
    {% for quiz in all_quizes %} 
    {% set loop_index = loop.index %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-8">
                <strong>{{ loop_index }}.&nbsp;</strong>
                <a>{{ quiz.title }}</a>
            </div>
            {% if "True" in user.admin() %}
            <div class="col-xs-2">
                <form method="GET" action="{{ url_for('quiz.edit_quiz', quiz_id=quiz.id) }}">
                    <button id="edit-btn" name="edit-btn" type="submit" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit quiz
                    </button>
                </form>
            </div>
            <div class="col-xs-2">
                <form method="POST" action="{{ url_for('quiz.remove_quiz', quiz_id=quiz.id) }}">
                    <button id="remove-btn" type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove quiz
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>


{% endblock %}