<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet" media="screen">
    <title>Testing system</title>
</head>

<body>
    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.home') }}">Testing system</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('main.home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.quizes') }}">Quizes</a>
                    </li>
                </ul>
                {% if not session['email'] %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('main.login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.register') }}">Register</a>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>Signed in as <strong>{{ session['email'] }}</strong></a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.profile') }}">Profile</a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'Info' in message %}
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<strong>{{ message }}</strong></p>
                            </div>
                            {% elif 'Error' in message %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;<strong>{{ message }}</strong></p>
                            </div>
                            {% elif 'Success' in message %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;<strong>{{ message }}</strong></p>
                            </div>
                            {% else %}
                            <div class="alert alert-default alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p><strong>{{ message }}</strong></p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                    {% block content %} {% endblock %}
                    {% block auth_content %} {% endblock %}
                    {% block quiz_content %} {% endblock %}
                    {% block quiz_list_content %}{% endblock %}
                    {% block quiz_edit_content %}{% endblock %}
                    {% block quiz_detail_content %}{% endblock %}
                    {% block quiz_completed_content %}{% endblock %}
                    
            </div>
    </div>
            
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block footer_content %} {% endblock %}
                </div>
            </div>
        </div>
    </footer>

</body>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-storage-api/1.9.4/jquery.storageapi.min.js"></script>
<!-- main.js -->
<script>
    $(document).ready(onDocumentReady);

    function onDocumentReady() {
        var hideStatus = $.sessionStorage.get('is_hidden');

        console.log("ready!!!! :3");

        if (hideStatus == false) {
            //remove element on click
            $("#annoying_footer").on("click", fadeAndRemoveAnnoyingFooter);
        } else if (hideStatus == true) {
            //remove element automatically
            removeAnnoyingFooter();
        } else {
            //add new session storage object
            $.sessionStorage.set('is_hidden', false);
        }

        if ($("#message") != "") {
            $("#message").delay(1000).fadeOut('slow');
        }

    }

    function fadeAndRemoveAnnoyingFooter() {
        console.log("clicked on annoying header");
        $(this).fadeOut(500, removeAnnoyingFooter);
    }

    function fadeMessage() {
        $(this).fadeOut(500, removeAnnoyingFooter);
    }

    function removeAnnoyingFooter() {
        $("#annoying_footer").remove();
        $("#annoying_footer").detach();
        $.sessionStorage.set('is_hidden', true);
    }

    $("form").on("submit", function () {
        console.log("Tha form was submited, yay");
    });
</script>
<!-- admin.js -->
<script>
    $(document).ready(onDocumentReady);
    $("tr").click(onClick);
    $("tr").hover(onHoverUp, onHoverDown);

    $("#user_remove").click(onUserRemove);
    $("#user_give_tokens").click(onUserGiveTokens);
    $("#user_make_admin").click(onUserMakeAdmin);

    $("#admin_remove").click(onAdminRemove);
    $("#admin_make_user").click(onAdminMakeUser);

    var users = [];
    var admins = [];

    var selectedUserRows = [];

    function createUser(user) {
        var new_user = new User();
        users.push(new_user);
    }

    function createAdmin(admin) {}

    function onDocumentReady() {
        console.log("Admin panel is init!");
    }

    function onHoverUp() {
        $(this).addClass("active");
    }

    function onHoverDown() {
        $(this).removeClass("active");
    }

    /*
    function onClick() {
        var rows = document.getElementsByTagName("tr");
        var currentRow = $(this);
        if (!isRowSelected(currentRow)) {
            selectRow(currentRow);
        } else if (isRowSelected(currentRow)) {
            deselectRow(currentRow);
        }
    }*/

    function selectRow(row) {
        var currentRow = $(row);
        if (!currentRow.hasClass("danger")) {
            currentRow.addClass("danger");
            selectedUserRows.push(getIndexOfSelectedRow(currentRow));
        }
    }

    function deselectRow(row) {
        if ($(row).hasClass("danger")) {
            $(row).removeClass("danger");
        }
    }

    function isRowSelected(row) {
        if ($(row).hasClass("danger")) {
            return true;
        } else {
            return false;
        }
    }

    function getIndexOfSelectedRow(row) {
        return row.rowIndex;
    }

    function onUserRemove() {}

    function onUserGiveTokens() {
        alert("give tokens");
    }

    function onUserMakeAdmin() {
        alert("Make user admin");
    }

    function onAdminRemove() {
        alert("Remove admin");
    }

    function onAdminMakeUser() {

    }

    function confirm() {

    }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<style>
    span.glyphicon {
        font-size: 1.2em;
    }
</style>


</html>